body {
    background-color: #2f4c2d;
    box-sizing: border-box;
}

.container img {
    width: 280px;
}


/*Botões*/

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container .btn {
    transform: scale(0.5) skew(-25deg, 0deg);
    font-size: 2.5rem;
    text-transform: uppercase;
    
}

#btnResumo {
    right: 0;
    position: absolute;
    top: 0rem;    
    transform: initial;
    font-size: 1rem;
    padding: .5rem;  
    transition: ease-in-out .5s;  
}

.btn-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}
/*Tamanho da tela*/
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#offcanvasTop, #staticBackdrop {
    height: 100vh;
}
.offcanvas-title {
    text-decoration: underline;
}


/*CONSTRUÇÃO REDAÇÃO*/
.offcanvas-header{
    position: relative;
    height: 7.5rem;
}

.offcanvas-header h1 {
    color: #fff;
    font-size: 2.5rem;
}
.offcanvas-header h2 {
    color: #fff;
    font-size: 1rem;
}
.options {    
    width: 100%;
}
.question_area {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.question_area h2, .question_area h2 span {
    text-transform: uppercase;
}
.options label{
    display: block;
    padding: .8rem;
}
.options label input {
    margin-right: 1rem;    
}
.options label {
    font-size: 1rem;
}


/*SELEÇÕES USUARIO*/
/* .offcanvas-body {
    position: relative;
    overflow: hidden;    
} */
.text-center {
    position: relative;
}
.success_info {    
    position: absolute;     
    height: 100vh;
    right: 0;
    top: 0;     
    transition: ease-in .5s;
    overflow: scroll;
    text-align: left;
}

.success_info h1 {
    text-align: center;
}


/*help*/ 
.help .offcanvas-body{
    overflow: auto;
}
